* {

  margin: 0;
  padding: 0;

}



body {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.h1 {
  font-family: Lobster;
}

.mother-container {

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px
}

.container-imagen {

  width: 250px;
  padding: 7px;
  background-color: rgb(240, 240, 240);
  border: 1px line solid;
  border-color: rgb(226, 223, 223);
  outline:none
}

.button-container {

  display: flex;
  gap: 20px;

}

button {

  padding-left: 10px;
  padding-right: 10px;
  color: white;
  background-color: black;
  cursor: pointer;
}

h2 {

  padding-top: 20px;

}